.Page{
	background-color: black;
	height: 100vh;
}
.Page-header {
	  min-height: 5vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  color: gold;
	  padding-left: 4vw;
}

.Page-header a{
	text-decoration: none;
	display: inline-block;
	font-size: 20pt;
}

.Page-header a > img{
	vertical-align: middle;
}

.LA_span {
	font-family: 'Oswald', sans-serif;
	color: gold;
	padding-bottom: 2vh;
}

.Page-footer {
	background: #DDE0E3;
    padding: 15px 10px;
    position: relative; 
    left: 0;
    bottom: 0;
	width: 100%;
	text-align: center;
}

.Page-body{
	padding: 25px 150px;
	background-color: black;
}

.img-container {
	position: relative;
	width: 270px;
}

.picture{
	
	max-width: 267px;
}

.form-group{
	
	padding-top: 20px;
}

.form-label, .form-heading {
	color: white;
}

