.App-header {
	  background-color: black;
	  min-height: 5vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  color: gold;
	  padding-left: 4vw;
}

.App-header a{
	text-decoration: none;
	display: inline-block;
	font-size: 20pt;
}

.App-header a > img{
	vertical-align: middle;
}

.LA_span {
	font-family: 'Oswald', sans-serif;
	color: gold;
	padding-bottom: 2vh;
}

.App-footer {
	background: #DDE0E3;
    padding: 15px 10px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
	text-align: center;
}

.Page{
	padding: 25px 150px;
}

.img-container {
	position: relative;
	width: 270px;
}

.picture{
	
	max-width: 267px;
}

